*{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,h2, h3, a {
    margin: 0;
    padding: 0;
    color:black
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

